---
http_interactions:
- request:
    method: get
    uri: https://api.hgbrasil.com/finance/quotations?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a63ede92c281acd2ecf6cde6b01790c"
    body:
      encoding: ASCII-8BIT
      string: '{"by":"default","valid_key":false,"results":{"currencies":{"source":"BRL","USD":{"name":"Dollar","buy":3.1572,"sell":3.1562,"variation":0.41},"EUR":{"name":"Euro","buy":3.6832,"sell":3.6817,"variation":-0.06},"GBP":{"name":"Pound
        Sterling","buy":4.1301,"sell":4.1279,"variation":0.27},"ARS":{"name":"Argentine
        Peso","buy":0.1801,"sell":0.1797,"variation":0.33},"BTC":{"name":"Bitcoin","buy":8547.298,"sell":8533.945,"variation":2.977}},"stocks":{"IBOVESPA":{"name":"BM\u0026F
        BOVESPA","location":"Sao Paulo, Brazil","variation":1.03},"NASDAQ":{"name":"NASDAQ
        Stock Market","location":"New York City, United States","variation":0.54},"CAC":{"name":"CAC
        40","location":"Paris, French","variation":-0.09},"NIKKEI":{"name":"Nikkei
        225","location":"Tokyo, Japan","variation":0.15}},"available_sources":["BRL"]},"execution_time":0.0,"from_cache":true}'
  recorded_at: Thu, 27 Jul 2017 15:09:34 GMT
recorded_with: VCR 3.0.3
