<div class="container-fluid">
  <div class="page-header">
    <h1>Finance Geek <small>Cotações de Bitcoin, Dólar e Euro em Reais (BRL)</small></h1>
  </div>
  <div class="panel header">
    <div class="panel-body">
      <form class="form-inline">
        <div class="form-group">
          <label for="currencyType">Moeda</label>
          <select 
            class="form-control"
            name="currencyType"
            id="currencyType"
            ng-model="vm.currencyType"
            ng-change="vm.getCurrencies()"
          >
            <option value="Bitcoin">Bitcoin</option>
            <option value="Dollar">Dólar</option>
            <option value="Euro">Euro</option>
          </select>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h4 class="text-center">Últimas 24h</h4>
      <div class="chartContainer">
        <div ng-show="vm.loading" class="loading-overlay">
          <span class="spinner"></span>
        </div>
        <div>
          <canvas id="currencyChart" height="300" style="width: 100%"></canvas>
        </div>
      </div>
      <br>
      <div class="col-md-6 col-md-offset-3" ng-if="vm.currencies.meta">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th colspan="2" class="text-center">Variação da cotação ({{ vm.currencies.meta.label }})</th> 
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Última semana</td>
              <td>{{ vm.currencies.meta.last_week_variation }}</td>
            </tr>
            <tr>
              <td>Último mês</td>
              <td>{{ vm.currencies.meta.last_month_variation }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>